html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.background {
	background-color:black;
}

.background-lines {
	background-image: url("images/pattern2.png");
	animation: moveBackground2 5s linear infinite;
	background-size: 200px 200px;
}

.all-windows {
	display: flex;
	height: 100vh;
	gap: 20px;
}

.left {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.top-left {
	flex: 0 0 40%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid white;
	gap: 2px;
}

.bar-top-left {
	flex: 0 0 7.5%;
	background-color: black;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.window-top-left {
	flex: 1;
	background-image: url("images/pattern.png");
	animation: moveBackground 20s linear infinite;
	background-size: 370px 370px;
	overflow-y: auto;  
	overflow-x: hidden;
	scrollbar-width: none;
}

.bottom-left {
	flex: 1;
	background-image: url("images/pattern2.png");
	animation: moveBackground2 5s linear infinite;
	background-size: 200px 200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid white;
}


.middle {
	width: 60%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid white;
	gap: 2px;
	margin: 0 auto;
}

.bar {
	flex: 0 0 3%;
	background-color: black;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.window-middle {
	flex: 1;
	background-image: url("images/pattern.png");
	animation: moveBackground 20s linear infinite;
	background-size: 370px 370px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;   
	padding: 7%;
}

.window-middle-artgallery {
	flex: 1;
	background-image: url("images/pattern.png");
	animation: moveBackground 20s linear infinite;
	background-size: 370px 370px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;   
	padding: 20%;
	position: relative;
}

.floating-text {
	  position: absolute;
	  top: 15%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-size: 25px;
	  font-family: "Salsa";
	  color: white;
	  text-align: center;
	  padding: 0 10px;
	  width: 90%
}

.home-icon img {
	margin: 0;
	padding: 0;
	width: 250px;
	height: auto;
	transition: transform 0.2s;
}

.home-icon img:hover {
  transform: scale(1.1) rotate(-10deg);
  cursor: pointer;
}

.right {
	width: 20%;
	height: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid white;
	gap: 2px;
}

.window-right {
	flex: 1;
	background-image: url("images/pattern2.png");
	animation: moveBackground2 5s linear infinite;
	background-size: 200px 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.linkbutton {
	display: inline-block;
	cursor: pointer;
	transform-origin: left center;
	transition: transform 0.2s;
}

.linkbutton img {
  width: 70%;
  height: auto;
  display: block;
}

.linkbutton:hover {
	transform: scale(1.1);
	cursor: pointer;
}

@keyframes moveBackground {
  from {background-position: 0 0;}
  to {background-position: 0 370px;}
}

@keyframes moveBackground2 {
  from {background-position: 0 0;}
  to {background-position: 200px 0;}
}

.bar-img {
	width: 170px;
	height: auto;
	margin: 0;
}

.bar-menu {
	width: 170px;
	height: auto;
	float: right;
	margin: 0;
}

.bubble {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.kdt_float {
	width: 205px;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}

.bubble-container {
  position: relative;
  width: 100%;
  height: auto;
}

.bubble-text-main {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: "Salsa";
  color: black;
  text-align: center;
  padding: 0 10px;
  width: 90%
}

.bubble-text-sub {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family: "Salsa";
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 0 10px;
  width: 90%
}

.ad img {
	width: 260px;
	height: auto;
	transition: transform 0.2s;
}

.ad img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.back-button {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 999;
}

.back-button img {
  width: 20%;
  height: auto;
  transition: transform 0.2s ease;
}

.back-button:hover img {
  transform: scale(1.2);
  cursor: pointer;
}